*.pkl.gz
*.zip
*.swp
*.pyc
*test.*
test.*
*.h5
*.pkl
*.svs
*.vsi
*.jpg
*.JPG
*.JPEG
*.png
*.PNG
*test
*.tar
Lesion_Training_Set
Lesion_Training_Set/
documents
documents/
*/data/*
*/*data/*
data/*
*/results/*
*/*results/*
*results/
bacteria_scripts/
*saved_networks/
*saved_networks/*
